---
openafs_admin: admin.admin
openafs_cell: example.com
openafs_org: Example
openafs_realm: EXAMPLE.COM

kdc: "{{ groups['kerberos_servers'][0] }}"
root_server: "{{ groups['openafs_fileservers'][0] }}"
root_part: "{{ hostvars[groups['openafs_fileservers'][0]]['vicep'][0] }}"
