[kerberos-servers]
afs01.example.com

[openafs-databases]
afs01.example.com
afs02.example.com
afs03.example.com

[openafs-fileservers]
afs01.example.com
afs02.example.com
afs03.example.com
afs04.example.com
afs05.example.com

# [openafs-clients]
#afs06.example.com
