[kerberos_servers]
afs01.example.com

[openafs_databases]
afs01.example.com
afs02.example.com
afs03.example.com

[openafs_fileservers]
afs03.example.com     vicep=d,e,f
afs04.example.com
afs05.example.com     vicep=x,y,z,aa

# [openafs-clients]
#afs06.example.com
