[kerberos_servers]
afs01.example.com

[openafs_databases]
afs[01:03].example.com

[openafs_fileservers]
afs04.example.com     vicep=a,b,c
afs05.example.com     vicep=a,b,c

[openafs_clients]
afs[01:06].example.com
