---
- name: disable selinux
  # TODO: enable selinux
  selinux:
    state: disabled

- name: permit kerberos kdc traffic
  firewalld:
    port: 88/udp
    permanent: yes
    state: enabled

- name: permit kerberos kadmin traffic
  firewalld:
    port: 749/udp
    permanent: yes
    state: enabled

- name: set default realm
  template:
    src: krb5.conf.j2
    dest: /etc/krb5.conf
    owner: root
    group: root
    mode: 0644

- name: install kerberos server
  package:
    name: "{{ kerberos_server_package }}"
    state: present

- name: configure kerberos kdc
  template:
    src: "{{ item }}.j2"
    dest: "{{ kerberos_localstatedir }}/krb5kdc/{{ item }}"
    owner: root
    group: root
    mode: 0600
  with_items:
  - kdc.conf
  - kadm5.acl

- name: create kerberos kdc database
  command: >
    /sbin/kdb5_util
    -P {{ lookup('password', '/dev/null chars=ascii_letters') }}
    -r {{ kerberos_realm }}
    create -s
  args:
    creates: "{{ kerberos_localstatedir }}/krb5kdc/principal"
  register: krb5_util_results

- name: start kerberos kdc
  service:
    name: krb5kdc
    state: started

- name: start kadmin
  service:
    name: kadmin
    state: started

- name: create keytabs
  include: keytabs.yaml
  when: kerberos_principals is defined
