---
openafs_admin: admin.admin
openafs_cell: example.com
openafs_org: Example
openafs_realm: EXAMPLE.COM
openafs_yum_repo: https://download.sinenomine.net/openafs/repo/sna-openafs-release-latest.noarch.rpm

kdc: "{{ groups['kerberos_servers'][0] }}"
