restrictmode 0
restarttime 16 0 0 0 0
checkbintime 3 0 5 0 0
{% if 'openafs_databases' in group_names %}
bnode simple ptserver 1
parm {{ afssrvdir }}/ptserver
end
bnode simple vlserver 1
parm {{ afssrvdir }}/vlserver
end
{% endif %}
{% if 'openafs_fileservers' in group_names %}
bnode dafs dafs 1
parm /usr/afs/bin/dafileserver
parm /usr/afs/bin/davolserver
parm /usr/afs/bin/salvageserver
parm /usr/afs/bin/dasalvager
end
{% endif %}
