# {{ ansible_managed }}

[libdefaults]
    default_realm = {{ kerberos_realm }}

[realms]
    {{ kerberos_realm }} = {
{% for host in groups['kerberos_servers'] %}
        kdc = {{ hostvars[host].inventory_hostname }}
{% endfor %}
        admin_server = {{ hostvars[groups['kerberos_servers'][0]].inventory_hostname }}
    }

[domain_realm]

[login]
