---
- include: CentOS.yaml
  when: ansible_distribution == 'CentOS' or ansible_distribution == 'Red Hat Enterprise Linux'

- name: Update cell configuration
  template:
    src: "{{ item }}.j2"
    dest: "{{ afsconfdir }}/{{ item }}"
    mode: 0644
    owner: root
    group: root
  with_items:
    - CellServDB
    - ThisCell
    - UserList
  # TODO: trigger on change

- name: Set authentication realm name
  copy:
    content: "{{ openafs_realm }}"
    dest: "{{ afsconfdir }}/krb.conf"
    mode: 0644
    owner: root
    group: root
  when: openafs_realm != openafs_cell

- name: Add service keys
  include: setkey-rxkad-krb5.yaml
  # TODO: old keyfile formats and rxkad.keytab

- name: Add local server directory
  file:
    state: directory
    path: "{{ afslocaldir }}"
    mode: 0700
    owner: root
    group: root

- name: Update local server configuration
  template:
    src: "{{ item }}.j2"
    dest: "{{ afslocaldir }}/{{ item }}"
    mode: 0644
    owner: root
    group: root
  with_items:
    - BosConfig.new
    - NetInfo
  # TODO: BosConfig.new is wiped on bosserver start, triggering a false change
  #       on subsequent runs.

- name: Start the OpenAFS servers
  service:
    name: openafs-server
    state: started

- name: Give the servers a moment to start
  command: sleep 20

  # The root.afs volume must exist before non-dynroot clients can be started.
- include: root-afs-volume.yaml
  when: inventory_hostname == ansible_play_hosts[0]

  # The first admin user must be created on a machine with a service key.
- include: admin-user.yaml
  when: inventory_hostname == ansible_play_hosts[0]
